* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(58, 58, 94);
  color: white;
  position: sticky;
}

.navlink {
  display: flex;
  width: 100%;
  height: 66px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 25px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.fas,
.far {
  margin-right: 5px;
}

.menu > a {
  margin-right: 15px;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 20px;
}

.menu > a:nth-child(3) {
  margin-right: 0px;
}

.hero {
  margin-top: 15%;
}

.hero__image {
  display: grid;
  place-items: center;
  margin-top: 15%;
}

.img__hero {
  width: 300px;
}
.card > img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.centered {
  /* margin-top: 200px !important; */
  text-align: center;
  font-weight: bold;
}

.title-hero {
  font-weight: bold;
}

.title {
  margin-top: 100px !important;
  margin-bottom: 30px;
  font-weight: bold !important;
  /* border-bottom: black 1px solid; */
}
.newsletter {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(58, 58, 94);
  padding: 40px;
  color: white;
}

.row .card {
  text-align: center;
  margin-bottom: 20px;
  /* padding: 20px; */
  /* background-color: red; */
}

.footer {
  margin-top: 40px;
  background-color: rgb(58, 58, 94);
  color: white;
  padding: 30px;
  padding-bottom: 10px;
}

.centered {
  margin-top: 20px;
}
.social-media {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
}

.social-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.social {
  display: flex;
  /* margin-right: 10px; */
  /* flex-direction: column; */
  /* justify-content: start; */
  /* align-items: center; */
}

.right {
  margin-top: 40px;
}
.social > i {
  margin-right: 10px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.left-promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  height: 300px;
  padding: 20px;
}

.right-promotion > img {
  width: 500px;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 750px) {
  .menu {
    display: none;
  }

  .right-promotion > img {
    width: 350px;
    display: flex;
    justify-self: center;
    align-items: center;
  }

  .copyright {
    text-align: left;
  }
}
